@import url(GeneralStyle.css);

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--CPale-blue);
}

section {
    display: flex;
    min-width: 360px;
    min-height: 200px;
    background-color: var(--CWhite);
    border-radius: 20px;
    width: 52%;
    height: 48%;
    min-height: 350px;
}

main {
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(var(--Background-gradient-colors));
    color: var(--CWhite);
    min-height: 350px;
}

aside {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 180px;
    min-height: 350px;
}

.result {
    display: flex;
    min-width: 85px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50%;
    aspect-ratio: 1 / 1;
    height: auto;
    background: linear-gradient(var(--Circle-gradient-colors));
}

main h1 {
    color: hsla(241, 100%, 89%,0.9);
    font-weight: 500;
}

div p:first-child {
    color: var(--CWhite);
    font-weight: 800;
    font-size: 2.5rem;
}

div p:last-child {
    color: hsla(241, 100%, 89%,0.6);
    font-size: 0.8rem;
    
}

main div p.Great{
    color: var(--CWhite);
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: -30px;
}

main p {
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--CLight-lavender);
    width: 66%;
}

input {
    background-color:var(--CDark-gray-blue) ;
    width: 80%;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 5%;
}

input:hover{
    background: linear-gradient(var(--Background-gradient-colors));
}

input:active{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0.8));
}

td {
    color: hsla(224, 30%, 27%, 0.5);
    font-weight: 700;
    display: flex;
}

th {
    font-weight: 700;
}

td span {
    color: var(--CDark-gray-blue);
}

caption {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 3;
    color: var(--CDark-gray-blue);
    align-self: self-start;
}

table {
    width: 90%;
    height: 80%;
    border-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

tr {
    border-radius: 10px;
    display: flex;
    line-height: 3;
    justify-content: space-around;
}

.Red {
    color: var(--CLight-red);
}

.Yellow {
    color: var(--COrangey-yellow);
}

.Green {
    color: var(--CGreen-teal);
}

.Blue {
    color: var(--CCobalt-blue);
}

tr.Red {
    background-color: hsla(0, 100%, 67%,0.1);
}

tr.Yellow {
    background-color: hsla(39, 100%, 56%,0.1);
}

tr.Blue {
    background-color: hsla(166, 100%, 37%,0.1);
}

tr.Green {
    background-color: hsla(234, 85%, 45%,0.1);
}

tbody {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
}